body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body > *{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container .header{
    width: 90%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.container .header > div{
    display: flex;
    justify-content: center;
}

.container .header > div button{
    height: 30px;
    border: none;
    border-radius: 5px;
    border-width: 0;
    justify-content: space-evenly;
}

.header > .left button{
    background-color: inherit;
    color: gray;
    font-family: sans-serif;
}


.btns-unlogged button{
    background-color: inherit;
    font-family: inherit;
    font-family: sans-serif;
}

#create{
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: black;
    border-radius: 5px;
}

#login,
#logout{
    color: gray;
    background-color: white;
}

#username{
    background-color: white;
    color: black;
}

.container .header .right .hamburger{
    align-self: center;
    display: none;
}

/* Hide display for login and signup buttons for testing purposes*/
.btns-unlogged{
    display: none;
}

@media(max-width: 750px){
    .container .header .btns-unlogged,
    .container .header .right .btns-logged{
        display: none;
    }

    .container .header .right .hamburger{
        display: block;
    }
}

.main-content{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 7vh;
    justify-content: space-between;
}

.main-content > div{
    border: 1px solid gray;
}

.left-content{
    width: 30%;
    display: flex;
    justify-content: center;
}

.left-content img{
    width: 75%;
    height: 50%;
}

.right-content{
    width: 60%;
    margin: auto;
}

.pic{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}


.right-content .pic img{
    width: 85%;
    height: 85%;
}

.right-content .box img{
    object-fit: contain;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title h3,
.title h5{
    font-weight: bold;
}

@media(max-width: 900px){
    .main-content{
        flex-direction: column-reverse;
    }
    .main-content > div{
        margin: auto;
        width: 100%;
    }
  
}

.camp-comments{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}
.camp-comments > div > div{
    display: flex;
    justify-content: space-between;
}

.camp-comments > div > div h5, p{
    color: rgb(34, 32, 32);
}

.c1, .c2, .c3{
    border-bottom: 1px solid gray;
}

.footer{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
}

.footer img{
    width: 100px;
    height: auto;
    padding-top: 5vh;
    margin-bottom: 5vh;
}